# Dependencies
node_modules
npm-debug.log

# Environment
.env
.env.local
.env.*.local

# Build output
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Temporary files
*.ts
!src/**/*.ts
!prisma/schema.prisma

# Prisma
*.db
*.db-journal